<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>需要使用摄像头进行 AR 物体尺寸测量</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要将测量截图保存到照片图库</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>LiDAR 测量</string>
</dict>
</plist>
